<!DOCTYPE html>
<html>
<head>
	<title>MAB Problems</title>

	<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
	<script src="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css">
<style>
	.button {
		background-color: white;
		border: 2px solid #4CAF50;
		border-radius: 12px;
		color: black;
		padding: 8px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		cursor: pointer;
	}
	.button:hover {
		background-color: #4CAF50;
		color: white;
	}
</style>

</head>
<body>
	<div class="container">

		<div class="row">
			<div id="start_message">
			</div>
		</div>

		<div class="row">
			<div>
				<form class="form-inline" id="form">
				  <div class="form-group">
				    <input
				    	type="text"
				    	class="form-control"
				    	id="CTR1"
				    	placeholder="Enter CR #1"
				    >
				  </div>
					<div class="form-group">
						<input
				    	type="text"
				    	class="form-control"
				    	id="CTR2"
				    	placeholder="Enter CR #2"
				    >
					</div>
					<button class="button">Submit</button>
<!--					<a href="{{ url_for('index') }}"><button>REFRESH</button></a>-->
					<!--<button type="submit">Submit</button>-->
				</form>
			</div>
		</div>

		<br>
		<div class="row">
			<div id="ad_chart">
			</div>
		</div>
		<br>
		<div class="row">
			<div id="reward_chart">
			</div>
		</div>
		<br>
		<div class="row">
			<div id="regret_chart">
			</div>
		</div>

	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/async.js') }}"></script>
	<script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tui-chart-all.min.js') }}"></script>

</body>
</html>
